---
apiVersion: v1
kind: ConfigMap
metadata:
  name: blocky-config
data:
  config.yaml: |
    upstream:
      default:
        - 46.182.19.48
        - 80.241.218.68
        - tcp-tls:fdns1.dismail.de:853
        - https://dns.digitale-gesellschaft.ch/dns-query
    blocking:
      blackLists:
        ads:
          - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
      clientGroupsBlock:
        default:
          - ads
    prometheus:
      enable: true
    ports:
      dns: 53
      http: 4000

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blocky
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blocky
  template:
    metadata:
      labels:
        app: blocky
    spec:
      restartPolicy: Always
      containers:
        - name: blocky
          image: ghcr.io/0xerr0r/blocky:latest
          ports:
            - containerPort: 53
              name: dns
              protocol: UDP
            - containerPort: 53
              name: dns-tcp
              protocol: TCP
            - containerPort: 4000
              name: http
              protocol: TCP
          volumeMounts:
            - name: config-volume
              mountPath: /app/config.yml
              subPath: config.yaml
      volumes:
        - name: config-volume
          configMap:
            name: blocky-config

---
apiVersion: v1
kind: Service
metadata:
  name: blocky
spec:
  selector:
    app: blocky
  type: LoadBalancer
  ports:
    - protocol: UDP
      port: 53
      targetPort: 53
      name: dns
    - protocol: TCP
      port: 53
      targetPort: 53
      name: dns-tcp
    - protocol: TCP
      port: 4000
      targetPort: 4000
      name: http
